
footer {
    background-color: #C59DAF;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .text-pink {
    /* Define your pink color styles */
    color: #ffffff;
    transition: color 0.5s ease, transform 0.5s ease;
  }
  .text-pink:hover {
    color: #d1d1d1;
    transform: scale(1.05);
  }

  .footer-text a {
    text-decoration: none;
  }