.image-container {
    position: relative;
    animation: floatEffect 3s infinite;
}

@keyframes floatEffect {
    0%, 100% {
        transform: translateY(0);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    50% {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}

.image-container img {
    border: 5px solid #ffffff;
    border-radius: 50%;
}

/* @media (max-width: 770px) {
    .image-container {
        width: 50%; 
    }
} */